/* LES ID */

 

#card{
    
    min-height: 500px;
    
    border-radius: 5px;
    /* border: 1px solid chartreuse; */

    background-color: var(--background);
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#card-background{

    height: 140px;

    padding-top: 30px;
    margin-bottom: 80px;

    border-radius: 5px 5px 0 0;
 
    background-image: url("../image/139825.jpg");

}

#avatar{

    width:200px;
    height:200px;

    margin: 0 50px;

    overflow: hidden;
    
    border-radius: 100%;

    border: 1px solid orangered;
}

#img-avatar{

    width: 105%;
    height: auto;
    object-fit:contain;

  
}

#card-container{
    flex:1;
    
    padding: 10px 30px;
    /* border: 1px solid violet; */
}

/* LES CLASS */

/* .head-profil{
    margin-bottom: 10px;
} */

.profil-name{
    font-size: 1.5em;
    text-align: center;
}
.footer-profil, .footer-profil a{
    font-size: 1.3em;
    color: var(--colorIcon);
   
  
}
.footer-profil{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-top: 1px solid var(--colorExtra);
    
}



/* LE RESPONSIF */

@media (max-width: 400px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 992px) {

}


@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1366px) {

}





