
{% extends "layout.twig" %}
{% block title %}Page contact du {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/profil.css"/>
{% endblock %}

{% block js %}{% endblock %}


{% block dialogue %}{% endblock %}
 
{% block content %}
  <div id="content">
    <div id="blurred">
      <div id="contact" class="flex-column">
          <p>Ecrivez moi !</p>
          <form id="contact-form" action="mailto:contact@example.com" method="get" enctype="text/plain">
                <div class="form-field">
                    <label for="name">Nom:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-field">
                    <label for="subject">Sujet:</label>
                    <input type="text" id="subject" name="subject" required>
                </div>

                <div class="form-field">
                    <label for="body">Message:</label>
                    <textarea id="body" name="body" required></textarea>
                </div>

                <div class="form-field">
                    <button type="submit">Envoyer un e-mail</button>
                </div>
            </form>
      </div>
        <a href="/" alt="lien vers la page d'accueil" class="button-blog"><i class="fa-solid fa-house"></i>Index</a>
    </div>
 </div>



{% endblock %}
