{% extends "layout.twig" %}
{% block title %}Page contact du {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/profil.css"/>
{% endblock %}
{% block js %}{% endblock %}
{% block dialogue %}{% endblock %}
 
{% block content %}
  <div id="content">
    <div id="blurred">
      <div id="contact" class="flex-column">
          <h1>Écrivez-moi !</h1>
          <form id="contact-form" action="/contact" method="POST">
                <input type="hidden" name="formType" value="contact">  <!-- Champ caché -->

                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-field">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>

                <div class="form-field">
                    <button type="submit">Envoyer</button>
                </div>
            </form>
            
            {% if app.request.query.get('success') == '1' %}
                <p>Merci, votre message a bien été envoyé.</p>
            {% endif %}
      </div>
      <a href="/" alt="Lien vers la page d'accueil" class="button-blog"><i class="fa-solid fa-house"></i></a>
    </div>
 </div>
{% endblock %}

