<div id="commentDialogBtnClose" class="center-yz">
    <i class="fa-solid fa-xmark" onclick="document.getElementById('deleteCommentDialog').close()"></i>
</div>
  <!-- Code spécifique pour le dialogue "deleteCommentDialog" -->
<form method="POST" action="/deleteComment">
    <input type="hidden" name="commentId"> 
    <p>Êtes-vous sûr de vouloir supprimer le commentaire ?</p>
    <button id="comment-btn" type="submit">Soumettre</button>
</form>
