<form method="POST" action="/blog?{{post.postId}}">
    <div id="zoneXmark" class="center-yz">
        <i class="fa-solid fa-xmark" onclick="hideDialogue()"></i>
    </div>
    <!-- <fieldset  id="comment-legend">
        <legend> Ajouter un commentaire </legend> -->

            <div id="comment-user" class="flex">
                <div>
                    <label for="nickname"> {{session.user.nickname}}</label>
                    <input type="text" id="nickname" name="nickname" value="{{session.user.nickname}}" class="hidden"/>
                </div>
                <div class="hidden">
                    <label for="firstName"></label>
                    <input type="text" id="firstName" name="firstName" />
                </div>
            </div>
            <div id="textareaZone"class="flex-column">
                <label for="commentMessage">Message:</label>
                <textarea id="commentMessage" name="commentMessage"></textarea>
            </div>
        <button id="comment-btn" type="submit">Soumettre</button>
    <!-- </fieldset> -->
</form>
