<div id="commentDialogBtnClose" class="center-yz">
    <i class="fa-solid fa-xmark"></i>
</div>

  <!-- Code spécifique pour le dialogue "addCommentDialog" -->
  <p>Formulaire pour ajouter un commentaire</p>
  <form method="POST" action="/addComment">
    <div class="hidden">
      <input type="hidden" id="postId" name="postId" value="{{ post.postId }}" class="hidden"/>
      <input type="hidden" id="userId" name="userId" value="{{ session.user.userId }}" class="hidden" />
    </div>
    <div id="addComment" class="flex-column">
      <label for="nickname">Pseudo:</label>
      <input type="text" id="nickname" name="nickname" value="{{ session.user.nickname }}" readonly />
      
      <label for="comment">Message:</label>
      <textarea id="comment" name="comment"></textarea>
    </div>
    <button id="comment-btn" type="submit">Soumettre</button>
  </form>

