{% extends "layout.twig" %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block content %}
    <div id="content">
        <div id="blurred">
            <div id="zoneArrow" class="zoneXmark">
                <a href="{{origin}}" alt="lien vers la page administration" class="userConnected"> <i class="fa-solid fa-arrow-left"></i> </a>
            </div>
            <div id="ZoneOnglet" class="flex">
                <button type="button" class="connec-oglt" data-id="signIn" onclick="showDiv(this)">Se connecter</button>
                <button  type="button" class="connec-oglt" data-id="signUp" onclick="showDiv(this)">Créer un compte</button>
            </div>
            <div id='userAuthentication'>
                <form method="POST" action="{{origin}}">
                    <div id="signIn" data-id="signIn" class="content active">
                        <div id="connec-auth" class="flex-column">
                             <input type="hidden" name="formType" value="login">
                            <div>
                                <label for="email">Mail:</label>
                                <input type="email" id="email" name="email" />
                            </div>
                            <div>
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" name="password" />
                            </div>
                </form>
                        </div>
                        <button id="connec-btn" type="submit">Se connecter</button>
                        <!-- <p class="signIn" data-id="singUp">Vous n'avez pas de compte ?<a class="linkSign"> S'inscrire</a></p> -->
                    </div>
                <form method="POST" action="{{origin}}">
                    <div id="singUp"  data-id="signUp" class="content">
                            <div id="connec-creation" class="flex-column">
                                <input type="hidden" name="formType" value="register">
                                <div>
                                    <label for="name">Nom:</label>
                                    <input type="text" id="name" name="name"  required/>
                                </div>
                                <div>
                                    <label for="firstName">Prénom:</label>
                                    <input type="text" id="firstName" name="firstName" required/>
                                </div>
                                <div>
                                    <label for="nickname">Pseudo:</label>
                                    <input type="text" id="nickname" name="nickname" required/>
                                </div>
                                <div>
                                    <label for="email">Mail:</label>
                                    <input type="email" id="mail" name="email" required/>
                                </div>
                                <div>
                                    <label for="password">Mot de passe:</label>
                                    <input type="password" id="pswd" name="password" required />
                                </div>
                                 <div>
                                    <label for="passwordConfirm">Confirmer le mot de passe:</label>
                                    <input type="password" id="pswdC" name="passwordConfirm" required />
                                </div>
                            </div>
                            <button id="connec-btn" type="submit">Créer un compte</button> 
                            <!-- <p class="signIn" data-id="singIn">Vous avez déjà un compte ?<a class="linkSign"> Se connecter</a></p> -->
                    </div>
                </form>
            </div>
        </div>    
    </div>

{% endblock %}

