<form method="POST" action="/">
    <div id="zoneXmark" class="center-yz">
        <i class="fa-solid fa-xmark" onclick="hideAuth()"></i>
    </div>
            <div id="comment-user" class="flex">
                <div>
                    <label for="name">Nom:</label>
                    <input type="text" id="name" name="name" />
                </div>
                <div>
                    <label for="firstName">Prénom:</label>
                    <input type="text" id="firstName" name="firstName" />
                </div>
                <div>
                    <label for="nickname">Pseudo:</label>
                    <input type="text" id="nickname" name="nickname" />
                </div>
                <div>
                    <label for="email">Mail:</label>
                    <input type="email" id="firstName" name="firstName" />
                </div>
              
            </div>
           
        <button id="comment-btn" type="submit">Créer un compte</button>

</form>
