<nav id="navigation" class="flex-around">
        <a href="/" alt="lien vers la page d'accueil"><i class="fa-solid fa-house"></i></a>
        <a href="/blog" alt="lien vers la gallerie des articles"><i class="fa-solid fa-newspaper"></i></a>
        <a href="/auth" alt="lien vers la page administration du blog" onclick="showAuth(event)" id="authLink"><i class="fa-solid fa-user"></i></a>       
</nav>