{% extends "layout.twig" %}
{% block content %}
    {# formConnexion.twig #}
{% if session.status %}
    <p>Bienvenue, {{ session.user.nickname }}!</p>
    <p>Email: {{ session.user.email }}</p>
    <p>Rôle: {{ session.user.role }}</p>
{% else %}
    <p>Vous n'êtes pas connecté.</p>
{% endif %}


{% endblock %}
  