{% extends "layout.twig" %}
{% block content %}
      {% if comment is not empty %}
          {% for Onecomment in comment %}
             <h1>Je suis la page TEST</h1>
                 <div class="">
               
                  <p>{{ Onecomment.comment }}</p>
                </div>
          {% endfor %}
      {% else %}
        <p>No comment available.</p>
      {% endif %}
    </div>
{% endblock %}
  